/*-------------------- CSS --------------------*/
/* style.css */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

:root{
    --color: #1a052b;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--color);
}

.box{
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
}

.box::before{
    content: "";
    position: absolute;
    background: linear-gradient(#cc00ff, #00d440);
    inset: 0 120px;
    transition: 0.5s;
    animation: anime 4s linear infinite;
}

@keyframes anime {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box:hover::before{
    inset: 0 0;
}

.box::after{
    content: "";
    position: absolute;
    inset: 5px;
    background: var(--color);
    border-radius: 50%;
    z-index: 1;
}

.card{
    position: absolute;
    inset: 30px;
    border: 6px solid black;
    border-radius: 50%;
    z-index: 3;

    perspective:800px;

    
}

.front, .back{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;

    backface-visibility: hidden;

    transition: 0.5s linear;
}

.front img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}

.back{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.back h2{
    font-size: 1.8rem;
}
.back p{
    font-size: 1.5rem;
    margin: 10px;
}

.back a{
    background: white;

    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 1.2rem;
    color: black;
    transition: 0.5s;
}
.back a:hover{
    letter-spacing: .2rem;
}

/* normal position */
.front{
    transform: rotateY(0deg);
}

.back{
    transform: rotateY(-180deg);
}

/* Hover position */
.box:hover .front{
    transform: rotateY(180deg);
}

.box:hover .back{
    transform: rotateY(0deg);
}